#cloud-config
# vim: syntax=yaml
#
# ***********************
# ---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: helenmamani
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAETbeGHpwtliLEXYQjhMllnLylTfGpez5HA2Z4oNf8fhK2IOkGkMZeXe7ZQROnf9F9ahChU6S1Bnw9Gl3Apn7U2ALrJRaj7Xt8ZwgMwwtXJ54kPCUFdgBRWvMMmE00iAMEykiYOODmFHfumZa74UJFlUH6EIYxenm5uGHwzbw0vnpHIjNBDI5guMQtVPg/UBDGsqch9F3+GcxXusW6DFmSONE8QfrzLbZ37k3nfY+7I/3/GuyIommCmyOCp4d1eQdXeK7LJsfrBnUzuV0OFz1iQXeDo4xWr6dzytrGk0QC2LeUipF77XmRiIGcyVP55YQk5gVxkXj0qBr+k20Bj+X helen@helenmamani
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo

